<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <!-- This here only until I can get the bridge locator working -->
    <add key="bridgeIP" value="169.254.5.112"/>
    <!-- The key obtained from registering this app to the bridge (used to authenticate all requests) -->
    <add key="appKey" value="326b595f154915bba0732425c8becf1"/>
  </appSettings>
</configuration>